@inherits LayoutComponentBase

<NavMenu />

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

<footer class="footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - WebNews
    </div>
</footer> 