@page "/news"
@using WebNews.Client.Models
@using WebNews.Client.Services
@using WebNews.Client.Components.News
@inject INewsService _newsService

<PageTitle>Новости</PageTitle>
    
<div class="container">
    <h1 class="mb-4">Последние новости</h1>

    @if (news == null)
    {
        <div class="text-center py-5">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Загрузка...</span>
            </div>
            <p class="mt-3">Загрузка новостей...</p>
        </div>
    }
    else
    {
        <div class="news-container">
            @foreach (var article in news.Results)
            {
                <NewsCard NewsArticle="@article" />
            }
        </div>

        @if (!string.IsNullOrEmpty(news.NextPage))
        {
            <button class="btn btn-secondary btn-load-more" @onclick="LoadMore">
                <i class="bi bi-arrow-down-circle me-2"></i>
                Загрузить еще
            </button>
        }
    }
</div>

@code {
    private NewsResponse? news;

    protected override async Task OnInitializedAsync()
    {
        news = await _newsService.GetCachedNewsAsync();
    }

    private async Task LoadMore()
    {
        if (!string.IsNullOrEmpty(news?.NextPage))
        {
            var moreNews = await _newsService.GetLatestNewsAsync(news.NextPage);
            news.Results.AddRange(moreNews.Results);
            news.NextPage = moreNews.NextPage;
        }
    }
} 